{{#if label}}
  {{c-form-field-label fieldComponent=this}}
{{/if}}

{{#each modifiedOptions as |option|}}
  <div onclick={{action "selectOption" option}} class="select-block-option {{option.selected}}">
    {{yield option}}
  </div>
{{/each}}

{{#if description}}
  <div class="description">{{description}}</div>
{{/if}}

{{#if error}}
  <div class="error-message">
    {{error}}
  </div>
{{/if}}

