



<div id="c-form-test-content">

  {{#each formSizes as |formSize|}}
    formSize: {{formSize}}<br/>
    <form class="ui {{formSize}} form">

      {{c-form-field-input-text
        model=this
        field="counterofferPrice"
        label="Protinabídka"
        required=true
      }}
      {{c-form-field-input-text
        model=this
        field="counterofferPrice"
        required=true
        class="two wide"
      }}
      {{c-form-field-input-text
        model=this
        field="counterofferPrice"
        required=true
        class="two wide"
        unit="Kč"
      }}
      {{!-- label="Protinabídka" --}}

      {{!-- =========== All elements with label ============================ --}}
      <div class="four fields">
        {{c-form-field-input-text
          model=this
          field="inputText"
          label="c-form-field-input-text"
          allowClear=true
        }}

        {{#c-form-field-select
          model=this
          field="inputSelect"
          label="c-form-field-select"
          allowClear=true
          options=educationTypes
          as |type|
        }}
          {{type.value}}
        {{/c-form-field-select}}

        {{c-form-field-input-date
          model=this
          field="inputDate"
          label="c-form-field-input-date"
          allowClear=true
        }}

        {{c-form-field-input-datetime
          model=this
          field="inputDatetime"
          label="c-form-field-input-datetime"
          allowClear=true
        }}
      </div>

      <div class="four fields">
        {{c-form-field-input-text
          model=this
          field="inputText"
          label="c-form-field-input-text"
          allowClear=true
        }}

        {{c-form-field-input-checkbox
          model=this
          field="inputBool"
          label="c-form-field-input-checkbox"
        }}

        {{c-form-field-input-radio
          model=this
          field="inputSelect"
          label="c-form-field-input-radio"
          options=radioOptions
        }}

        {{c-form-field-input-yes-no
          model=this
          field="inputBool"
          label="c-form-field-input-yes-no"
          allowClear=true
        }}
      </div>

      <div class="four fields">
        {{c-form-field-input-text
          model=this
          field="inputText"
          label="c-form-field-input-text"
          allowClear=true
        }}

        {{c-form-field-select-color-from-object
          model=this
          field="highlightColor"
          label="c-form-field-select-color-from-object"
          options=highlightColors
          allowClear=true
        }}

        {{c-form-field-select-country
          model=this
          field="country"
          label="c-form-field-select-country"
          allowClear=true
        }}

        {{c-form-field-star-rating
          model=this
          field="rating"
          label="c-form-field-star-rating"
        }}
      </div>

      <div class="four fields">
        {{c-form-field-input-text
          model=this
          field="inputText"
          label="c-form-field-input-text"
          allowClear=true
        }}

        {{#c-form-field-input-conditional
          model=this
          field="inputText"
          label="c-form-field-input-conditional"
        }}
          {{c-form-field-input-text
            model=this
            field="inputText"
          }}
        {{/c-form-field-input-conditional}}
      </div>

      <br/>
      <br/>

      {{!-- =========== All elements without label ============================  --}}
      <div class="four fields">
        {{c-form-field-input-text
          model=this
          field="inputText"
          placeholder="c-form-field-input-text"
          allowClear=true
        }}

        {{#c-form-field-select
          model=this
          field="inputSelect"
          placeholder="c-form-field-select"
          allowClear=true
          options=educationTypes
          as |type|
        }}
          {{type.value}}
        {{/c-form-field-select}}

        {{c-form-field-input-date
          model=this
          field="inputDate"
          placeholder="c-form-field-input-date"
          allowClear=true
        }}

        {{c-form-field-input-datetime
          model=this
          field="inputDatetime"
          placeholder="c-form-field-input-datetime"
          allowClear=true
        }}
      </div>

      <div class="four fields">
        {{c-form-field-input-text
          model=this
          field="inputText"
          placeholder="c-form-field-input-text"
          allowClear=true
        }}

        {{c-form-field-input-checkbox
          model=this
          field="inputBool"
          placeholder="c-form-field-input-checkbox"
        }}

        {{c-form-field-input-radio
          model=this
          field="inputSelect"
          placeholder="c-form-field-input-radio"
          options=radioOptions
        }}

        {{c-form-field-input-yes-no
          model=this
          field="inputBool"
          placeholder="c-form-field-input-yes-no"
          allowClear=true
        }}
      </div>

      <div class="four fields">
        {{c-form-field-input-text
          model=this
          field="inputText"
          placeholder="c-form-field-input-text"
          allowClear=true
        }}

        {{c-form-field-select-color-from-object
          model=this
          field="highlightColor"
          placeholder="c-form-field-select-color-from-object"
          options=highlightColors
          allowClear=true
        }}

        {{c-form-field-select-country
          model=this
          field="country"
          placeholder="c-form-field-select-country"
          allowClear=true
        }}

        {{c-form-field-star-rating
          model=this
          field="rating"
          placeholder="c-form-field-star-rating"
        }}
      </div>

      <div class="four fields">
        {{c-form-field-input-text
          model=this
          field="inputText"
          label="c-form-field-input-text"
          allowClear=true
        }}

        {{#c-form-field-input-conditional
          model=this
          field="inputText"
          label="c-form-field-input-conditional"
        }}
          {{c-form-field-input-text
            model=this
            field="inputText"
          }}
        {{/c-form-field-input-conditional}}
      </div>


    <br/>

    {{c-form-button
      icon="save"
      label="Save"
    }}

    {{c-form-button-add
      text="New patient"
      color="gray"
      label="c-form-button-add"
      placeholder="c-form-button-add"
    }}

    {{c-form-field-input-textarea
      model=this
      field="notes"
      label="c-form-field-input-textarea"
    }}

  </form>

  <br/>
  <br/>
  <br/>
  <br/>
  {{/each}}

</div>


<h2>With required stars</h2>
<div id="c-form-test-content">

  {{#each formSizes as |formSize|}}
    formSize: {{formSize}}<br/>
    <form class="ui {{formSize}} form">

      {{c-form-field-input-text
        model=this
        field="counterofferPrice"
        label="Protinabídka"
        required=true
      }}
      {{c-form-field-input-text
        model=this
        field="counterofferPrice"
        required=true
        class="two wide"
      }}
      {{c-form-field-input-text
        model=this
        field="counterofferPrice"
        required=true
        class="two wide"
        unit="Kč"
      }}
      {{!-- label="Protinabídka" --}}

      {{!-- =========== All elements with label ============================ --}}
      <div class="four fields">
        {{c-form-field-input-text
          model=this
          field="inputText"
          label="c-form-field-input-text"
          allowClear=true
          required=true
        }}

        {{#c-form-field-select
          model=this
          field="inputSelect"
          label="c-form-field-select"
          allowClear=true
          options=educationTypes
          required=true
          as |type|
        }}
          {{type.value}}
        {{/c-form-field-select}}

        {{c-form-field-input-date
          model=this
          field="inputDate"
          label="c-form-field-input-date"
          allowClear=true
          required=true
        }}

        {{c-form-field-input-datetime
          model=this
          field="inputDatetime"
          label="c-form-field-input-datetime"
          allowClear=true
          required=true
        }}
      </div>

      <div class="four fields">
        {{c-form-field-input-text
          model=this
          field="inputText"
          label="c-form-field-input-text"
          allowClear=true
          required=true
        }}

        {{c-form-field-input-checkbox
          model=this
          field="inputBool"
          label="c-form-field-input-checkbox"
          required=true
        }}

        {{c-form-field-input-radio
          model=this
          field="inputSelect"
          label="c-form-field-input-radio"
          options=radioOptions
          required=true
        }}

        {{c-form-field-input-yes-no
          model=this
          field="inputBool"
          label="c-form-field-input-yes-no"
          allowClear=true
          required=true
        }}
      </div>

      <div class="four fields">
        {{c-form-field-input-text
          model=this
          field="inputText"
          label="c-form-field-input-text"
          allowClear=true
          required=true
        }}

        {{c-form-field-select-color-from-object
          model=this
          field="highlightColor"
          label="c-form-field-select-color-from-object"
          options=highlightColors
          allowClear=true
          required=true
        }}

        {{c-form-field-select-country
          model=this
          field="country"
          label="c-form-field-select-country"
          allowClear=true
          required=true
        }}

        {{c-form-field-star-rating
          model=this
          field="rating"
          label="c-form-field-star-rating"
          required=true
        }}
      </div>

      <div class="four fields">
        {{c-form-field-input-text
          model=this
          field="inputText"
          label="c-form-field-input-text"
          allowClear=true
          required=true
        }}

        {{#c-form-field-input-conditional
          model=this
          field="inputText"
          label="c-form-field-input-conditional"
          required=true
        }}
          {{c-form-field-input-text
            model=this
            field="inputText"
            required=true
          }}
        {{/c-form-field-input-conditional}}
      </div>

      <br/>
      <br/>

      {{!-- =========== All elements without label ============================  --}}
      <div class="four fields">
        {{c-form-field-input-text
          model=this
          field="inputText"
          placeholder="c-form-field-input-text"
          allowClear=true
          required=true
        }}

        {{#c-form-field-select
          model=this
          field="inputSelect"
          placeholder="c-form-field-select"
          allowClear=true
          options=educationTypes
          required=true
          as |type|
        }}
          {{type.value}}
        {{/c-form-field-select}}

        {{c-form-field-input-date
          model=this
          field="inputDate"
          placeholder="c-form-field-input-date"
          allowClear=true
          required=true
        }}

        {{c-form-field-input-datetime
          model=this
          field="inputDatetime"
          placeholder="c-form-field-input-datetime"
          allowClear=true
          required=true
        }}
      </div>

      <div class="four fields">
        {{c-form-field-input-text
          model=this
          field="inputText"
          placeholder="c-form-field-input-text"
          allowClear=true
          required=true
        }}

        {{c-form-field-input-checkbox
          model=this
          field="inputBool"
          placeholder="c-form-field-input-checkbox"
          required=true
        }}

        {{c-form-field-input-radio
          model=this
          field="inputSelect"
          placeholder="c-form-field-input-radio"
          options=radioOptions
          required=true
        }}

        {{c-form-field-input-yes-no
          model=this
          field="inputBool"
          placeholder="c-form-field-input-yes-no"
          allowClear=true
          required=true
        }}
      </div>

      <div class="four fields">
        {{c-form-field-input-text
          model=this
          field="inputText"
          placeholder="c-form-field-input-text"
          allowClear=true
          required=true
        }}

        {{c-form-field-select-color-from-object
          model=this
          field="highlightColor"
          placeholder="c-form-field-select-color-from-object"
          options=highlightColors
          allowClear=true
          required=true
        }}

        {{c-form-field-select-country
          model=this
          field="country"
          placeholder="c-form-field-select-country"
          allowClear=true
          required=true
        }}

        {{c-form-field-star-rating
          model=this
          field="rating"
          placeholder="c-form-field-star-rating"
          required=true
        }}
      </div>

      <div class="four fields">
        {{c-form-field-input-text
          model=this
          field="inputText"
          label="c-form-field-input-text"
          allowClear=true
          required=true
        }}

        {{#c-form-field-input-conditional
          model=this
          field="inputText"
          label="c-form-field-input-conditional"
          required=true
        }}
          {{c-form-field-input-text
            model=this
            field="inputText"
            required=true
          }}
        {{/c-form-field-input-conditional}}
      </div>


    <br/>

    {{c-form-button
      icon="save"
      label="Save"
    }}

    {{c-form-button-add
      text="New patient"
      color="gray"
      label="c-form-button-add"
      placeholder="c-form-button-add"
    }}

    {{c-form-field-input-textarea
      model=this
      field="notes"
      label="c-form-field-input-textarea"
      required=true
    }}

  </form>

  <br/>
  <br/>
  <br/>
  <br/>
  {{/each}}

</div>
