{{#if label}}
  <label>{{label}}</label>
{{/if}}

<div class="input-text-content">

  {{#if anonymized}}
    {{input type=type value=anonymizedValue min=min max=max maxlength=maxlength placeholder=placeholder disabled=true title=title autocomplete="off" class=inputClassName}}
  {{else}}
    {{input type=type value=(mut (get model field)) min=min max=max maxlength=maxlength placeholder=placeholder disabled=(if disabled "disabled" "") title=title autocomplete="off" class=inputClassName}}
  {{/if}}

  <div class="suffix-box">
    {{#if unit}}
        <div class="unit {{if (get model field) "has-value" ""}}">{{unit}}</div>
    {{/if}}

    {{#if suffixIcon}}
        <i class="{{suffixIcon}} icon suffix-icon" {{action suffixIconAction}}></i>
    {{/if}}

    {{#if (and model.hasDirtyAttributes displayNotification)}}
      {{#transition-group transitionName="display-notification-wrapper"}}
        <i class="save icon display-notification"></i>
      {{/transition-group}}
    {{/if}}
  </div>

  {{#if hasBlock}}
    {{yield}}
  {{/if}}

  {{#if (and required (not label))}}
    <span class="required">*</span>
  {{/if}}

</div>

{{#if description}}
  <div class="description">{{description}}</div>
{{/if}}

{{#if error}}
  <div class="error-message">
      {{error}}
  </div>
{{/if}}
