<legend
    class="form-fieldset-label {{if expanded "form-fieldset-label-expanded" "form-fieldset-label-collapse"}}"
    {{action "changeExpanding"}}
>
  <div class="form-fieldset-label-text">
    {{label}}
  </div>
  {{#if expanded}}
      <div class="form-fieldset-label-collapsible"><i class="minus square outline icon"></i></div>
  {{else}}
      <div class="form-fieldset-label-collapsible"><i class="plus square outline icon"></i></div>
  {{/if}}

  <div class="form-fieldset-parameters" {{action "parameterAction" bubbles=false}}>
    {{yield to="inverse"}}
  </div>
</legend>

{{#if expanded}}
  <div class="form-fieldset-content">
    {{yield}}
  </div>
{{/if}}
