{{#if expanded}}
  {{input type="text" value=value placeholder=placeholder enter="submit"}}
{{/if}}
<button class="ui {{color}} {{class}} button" {{action "submit"}}>
  <i class="{{icon}} icon"></i>
  {{text}}
</button>
