{{#if label}}
  {{c-form-field-label fieldComponent=this}}
{{/if}}

{{#power-select 
  disabled=disabled 
  selected=selected
  options=options
  allowClear=allowClear
  placeholder=placeholder
  verticalPosition=verticalPosition
  dropdownClass=dropdownClass
  search=(action "search")
  noMatchesMessage=noMatchesMessage
  onchange=(action "selected") as |item|}}
    {{#if hasBlock}}
      {{yield item}}
    {{else}}
      {{item}}
    {{/if}}
{{/power-select}}

{{#if description}}
  <div class="description">{{description}}</div>
{{/if}}

{{#if error}}
  <div class="error-message">
      {{error}}
  </div>
{{/if}}

