{{#if label}}
  <label>{{label}}</label>
{{/if}}

<div class="input-text-content">

  {{input type=type value=(mut (get model field)) min=min max=max maxlength=maxlength placeholder=placeholder disabled=(if disabled "disabled" "")}}

  <div class="suffix-box">
    {{#if unit}}
      <div class="unit">{{unit}}</div>
    {{/if}}

    {{#if suffixIcon}}
        <i class="{{suffixIcon}} icon suffix-icon" {{action suffixIconAction}}></i>
    {{/if}}

    {{#if (and model.hasDirtyAttributes displayNotification)}}
      {{#transition-group transitionName="display-notification-wrapper"}}
        <i class="save icon display-notification"></i>
      {{/transition-group}}
    {{/if}}
  </div>

  {{#if hasBlock}}
    {{yield}}
  {{/if}}

</div>

{{#if description}}
  <div class="description">{{description}}</div>
{{/if}}

{{#if error}}
  <div class="error-message">
      {{error}}
  </div>
{{/if}}
