{{#if label}}
  <label>{{label}}</label>
{{/if}}

{{#if multiple}}

  {{#power-select-multiple
    disabled=disabled 
    options=inputOptions
    selected=selected 
    searchEnabled=searchEnabled 
    searchField=searchField 
    allowClear=allowClear
    verticalPosition=verticalPosition
    dropdownClass=dropdownClass
    placeholder=placeholder
    placeholderComponent="c-form-powerselect-placeholder"
    onchange=(action "selected") as |item|}}
      {{#if hasBlock}}
        {{yield item}}
      {{else}}
        {{item}}
      {{/if}}
  {{/power-select-multiple}}

{{else}}

  {{#power-select 
    disabled=disabled 
    options=inputOptions
    selected=selected 
    searchEnabled=searchEnabled 
    searchField=searchField 
    allowClear=allowClear
    verticalPosition=verticalPosition
    dropdownClass=dropdownClass
    placeholder=placeholder
    placeholderComponent="c-form-powerselect-placeholder"
    onchange=(action "selected") as |item|}}
      {{#if hasBlock}}
        {{yield item}}
      {{else}}
        {{item}}
      {{/if}}
  {{/power-select}}

{{/if}}

{{#if description}}
  <div class="description">{{description}}</div>
{{/if}}

{{#if error}}
  <div class="error-message">
      {{error}}
  </div>
{{/if}}

