{{#if label}}
  <label>{{label}}</label>
{{/if}}

{{textarea value=(mut (get model field)) disabled=(if disabled "disabled" "") rows=rows}}

{{#if description}}
  <div class="description">{{description}}</div>
{{/if}}

{{#if error}}
  <div class="error-message">
      {{error}}
  </div>
{{/if}}

{{#if description}}
  <div class="description">{{description}}</div>
{{/if}}

{{#if error}}
  <div class="error-message">
      {{error}}
  </div>
{{/if}}
