{{#if label}}
  <label>{{label}}</label>
{{/if}}

{{#if multiple}}

  {{#power-select-multiple
    disabled=disabled 
    options=inputOptions
    selected=selected 
    searchEnabled=searchEnabled 
    searchField=searchField 
    allowClear=allowClear
    placeholder=placeholder
    onchange=(action "selected") as |option|}}
      {{#if hasBlock}}
        {{yield option}}
      {{else}}
        {{option}}
      {{/if}}
  {{/power-select-multiple}}

{{else}}

  {{#power-select 
    disabled=disabled 
    options=inputOptions
    selected=selected 
    searchEnabled=searchEnabled 
    searchField=searchField 
    allowClear=allowClear
    placeholder=placeholder
    onchange=(action "selected") as |option|}}
      {{#if hasBlock}}
        {{yield option}}
      {{else}}
        {{option}}
      {{/if}}
  {{/power-select}}

{{/if}}

{{#if description}}
  <div class="description">{{description}}</div>
{{/if}}

{{#if error}}
  <div class="error-message">
      {{error}}
  </div>
{{/if}}

