<table class="copy-to-clipboard-html-table"
  style="width: 100%; text-align: left; color: #243039; -webkit-box-sizing: inherit; box-sizing: inherit;font: 12px/18px Arial;">
  <tbody>

    <td style="width: 280px; padding: 0.78571429em 0.78571429em;">
      <a href={{link}}><img src="{{property.img}}" width="230px"></a>
    </td>
    <td style="padding: 0.78571429em 0.78571429em;">
      <div style="font-size: 28px; line-height: 30px; margin-bottom: 10px;">
        <a href={{link}} style="color: #243039; text-decoration: none;">
          {{property.title}}
        </a>
      </div>
      <div style="font-size: 16px; color: #7F8E9A; margin-bottom: 9px;">
        {{property.locality.name}}
        {{separator}}{{property.rooms}}
        {{separator}}Interiér {{property.interior}} m²
        {{#if property.terrace}}
          {{separator}}Balkon {{property.terrace}} m²
        {{/if}}
        {{#if property.terrace2}}
          {{separator}}Terasa {{property.terrace2}} m²
        {{/if}}
        {{#if property.garden}};
          {{separator}}Zahrada {{property.garden}} m²
        {{/if}}
      </div>
      <div style="font-size: 20px; font-weight: bold; letter-spacing: 0.22px; line-height: 22px;">
        {{#if property.priceVisible}}
          {{price property.price}}
        {{else}}
          Cena na vyžádání
        {{/if}}
      </div>
    </td>

  </tbody>
</table>
