<table class="copy-to-clipboard-html-table"
  style="width: 100%; border: 1px solid rgba(34, 36, 38, 0.15); border-radius: 0.28571429rem; text-align: left; color: rgba(0, 0, 0, 0.87); border-spacing: 0px; -webkit-box-sizing: inherit; box-sizing: inherit;font: 12px/18px Helvetica, Arial, Verdana, sans-serif;">
  <tbody>

    <td style="width: 350px; border-left: none; padding: 0.78571429em 0.78571429em;">
      <img src="{{property.img}}" width="300px">
    </td>
    <td style="border-left: 1px solid rgba(34, 36, 38, 0.1);border-top: 0; padding: 0.78571429em 0.78571429em;">
      <div>
        &#9702; {{property.title}}
      </div>
      <div>
        &#9702; {{property.locality.name}}
        {{separator}}{{property.rooms}}
        {{separator}}Interiér {{property.interior}} m²
        {{#if property.terrace}}
          {{separator}}Balkon {{property.terrace}} m²
        {{/if}}
        {{#if property.terrace2}}
          {{separator}}Terasa {{property.terrace2}} m²
        {{/if}}
        {{#if property.garden}}
          {{separator}}Zahrada {{property.garden}} m²
        {{/if}}
      </div>
      <div>
        &#9702;
        {{#if property.priceVisible}}
          Cena {{price property.price}}
        {{else}}
          Cena na vyžádání
        {{/if}}
      </div>
    </td>

  </tbody>
</table>
